<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <a href="http://localhost:8080/posts/new">Create new post</a>
    <% for( let post of posts ) { %>
      <div>
        <h2>@<%= post.username %></h2>
        <p><%= post.content %></p>
        <br>
        <a href="http://localhost:8080/posts/<%= post.id %>">detail</a>
        <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
        <a href="http://localhost:8080/posts/<%= post.id %>/delete">Delete</a>
      </div>
      <hr>
    <% } %>
</body>
</html>